{% extends 'index.html' %} 


{% block content %}

<center>

    <h3>Title :{{title}}</h3>
    <p>description :{{desc}}</p>
</center>
<form action="" method="post" class="w-fit-content" >
    {% csrf_token %}
    {% for field in fieldname %}
    {% if field != "" %}       
    <div class="ip f-ssv w-100%">
        <label for=" {{field}}" class="chh_label" style="text-indent:7px;"> {{field}}*</label>
        <input type="text" class="chh_iptext" id="{{field}}" name="column{{forloop.counter}}" required>
    </div>
    {% endif %}
    {% endfor %}
    
    <button type="submit" name="submit" class="btn-hrl c-var(--f2color) bc-var(--bgcolor) signup" value="signup">submit
        &#8594;</button>
    </form>
    <!--  
        
        
        <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

 
        {% endblock content %}