{% extends 'index.html' %}
{% load static %}
{% block content %}

{%include 'css/authentication style.html' %}


<form action="" method="post" class="w-500px">

    {% csrf_token %}
    
    <h3 class="heading">Signup</h3>
    <div class="ip">
        <label for="user_fname" class="chh_label">Enter FirstName</label>
        <input type="text" class="chh_iptext" id="user_fname" name="user_fname" required>
    </div>
    <div class="ip">
        <label for="user_lname" class="chh_label">Enter Surname</label>
        <input type="text" class="chh_iptext" id="user_lname" name="user_lname" required>
    </div>

    <div class="ip">
        <label for="user_email" class="chh_label">Enter Email</label>
        <input type="email" class="chh_iptext" id="user_email" name="user_email">
    </div>
    <div class="ip">
        <label for="user_password" class="chh_label">Enter Password</label>
        <input type="password" class="chh_iptext" id="user_password" name="user_password" required>
    </div>
    <div class="ip code_cont">
        <label for="code" class="chh_label">Enter verification code</label>
        <input type="text" class="chh_iptext" id="code" name="code">
    </div>

    <div class="f-ach w-100%" style="margin:10px 0px;">


        <div type="submit" name="submit" class="btn-hrm c-var(--f2color) form_btn verify" value="verify">Next
        </div>

        <button type="submit" name="submit" class="btn-hrm c-var(--f2color)  form_btn signup" value="signup">submit  &#8594;</button>
               
            

        <div>
          
            <a href="/login" class="btn-nrm c-var(--f1color) bc-white " value="Log in">Login
            </a>

        </div>
    </div>
 


</form>



<script>

    $('.verify').click((e) => {

        document.getElementsByClassName("jsmsg")[0].innerHTML =` <img src="{% static 'img/loading.gif' %}"   style="padding-left: 15px; width:100px; height:100px;" alt="">
        `  

        data = {
            email: $('#user_email').val(),
            password: $('#user_password').val()
        }


        $.ajax({

            url: "{% url 'verification' %}",
            method: "POST",
            data: data,

            success: function (data) {
                document.getElementsByClassName("jsmsg")[0].innerHTML = ""
                if (data.data == "userExists") {
                    // console.log(data)
                    window.location.assign("/login?msg=user already exists ..... .Please Log In Your Account...")

                }
                else {
                    document.getElementsByClassName('verify')[0].style.display = "none"
                    document.getElementsByClassName('code_cont')[0].style.height = "auto"
                    document.getElementsByClassName('code_cont')[0].style.visibility = "visible"
                    document.getElementsByClassName('signup')[0].style.display = "block "

                }

            }

        })



    })



</script>


{% endblock content %}