{% extends 'index.html' %}

{% block content %}

 
 
 

<form action="" method="post" class="w-400px ">

    {% csrf_token %}

    <h3 class="heading">Login</h3>
    <div class="ip">
        <label for="user_email" class="chh_label">Enter Email</label>
        <input type="email" class="chh_iptext" id="user_email" name="user_email" required>
    </div>
    <div class="ip ">
        <label for="user_password" class="chh_label">Enter Password</label>
        <input type="password" class="chh_iptext" id="user_password" name="user_password" required>
    </div>
    
    <div class="f-ach w-100%" style="margin:10px 0px;">

        
        <!-- <button type="submit" name="submit" class="btn-hrm c-var(--f2color) bc-var(--bgcolor) signup" value="Log in">submit -->
        <button type="submit" name="submit" class="btn-hrm c-var(--f2color)  form_btn" value="Log in">Login  &#8594;</button>
               
            
            <div>
                <a href="/signup" class="btn-nrm c-var(--f1color) bc-white signup" value="Log in">signup
                </a>
            </div>
        </div>
</form>

 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

 

<script>



try {
    const queryString = window.location.search; 
    const urlParams = new URLSearchParams(queryString);
    const message = urlParams.get('msg')

    document.getElementsByClassName("jsmsg")[0].innerHTML=message
    
} catch (error) {
    // console.log(error)
}
</script>

{% endblock content %}