{% extends 'index.html' %}

{% load static %}
{% block content %}

{% load action_tg %}

<center>

    <h1 class="title" style="width: 60% ; box-shadow:inset 2px 2px 10px rgb(211, 211, 211);">Our Team</h1>
</center>

<div class="developer">
    {% for developer in developers %}
    <div class="developer_card">
        <div class="dev_img">
            <img src="{{developer.img}}" alt="" width="170px" height="170px">
        </div>
        <div class="dev_info">
            <div class="dev_name"><b> {{developer.name}} </b></div>
            <div class="dev_address"> {{developer.address}} </div>
            <div class="dev_desc"> {{developer.desc}} </div>
            <div class="dev_email"> {{developer.email}} </div>
            <div class="dev_icon">
                <div class="github"> <a href=" {{developer.github}} " title="prfile" target="_blank"> <i
                            class="fa fa-github"></i></a></div>
                <div class=" facebook"> <a href=" {{developer.insta}} " title="prfile" target="_blank"> <i
                            class="fa fa-instagram"></i></a> </div>
                <div class="linkedin"> <a href=" {{developer.linkedin}} " title="prfile" target="_blank"> <i
                            class="fa fa-linkedin"></i></a></div>
            </div>
        </div>
        <div class="dev_skills">
            <h6 style="text-indent: 10px;">Skills</h6>
            {% splt developer.skills as skills%}
            <div class="skills_container">
                {% for skill in skills %}
                <p>{{skill}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}

</div>



<style>
    .developer {
        display: flex;
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .developer_card {
        margin: 30px;
        width: 360px;
        /* border: 2px solid black; */
        background: var(--bgcolor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        box-shadow: 24px 14px 39px grey;
    }

    .dev_icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        width: 50%;
        margin: 20px auto;
    }

    .dev_icon a:hover {

        text-decoration: none;
    }


    .dev_icon div i:hover {
        transform: rotate(180deg);
        transition: 1s;
        color: var(--f1color) !important;

    }

    .dev_icon div i {
        box-shadow: var(--boxshadowhigh);
        transition: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 24px;
        color: var(--f2color);
    }



    .dev_img {

        animation: animateimgcont 20s infinite alternate ;
        border: 2px dashed white;
        border-radius: 50%;
        padding: 5px;
        margin-top: 5px;
    }
    
    .dev_img img {
        
        border-radius: 50%;

        object-position: top;
        object-fit: cover;
        animation: animateimg 20s infinite alternate;
    }

    @keyframes animateimg {

        0% {
            transform: rotate(0deg);
        }

        100% {

            transform: rotate(360deg);
        }

    }

    @keyframes animateimgcont {

        0% {

            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);

        }

    }


    .dev_info {

        color: rgb(255, 255, 108);
        font-size: 18px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
    }

    .dev_address,
    .dev_desc,
    .dev_email {
        font-size: 13px;
        color: white;
    }

    .dev_email {
        color: black;
        text-decoration: underline;
    }

    .dev_skills {
        color: var(--f2color);
        padding: 5px;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, #24519f, #31929d);

    }

    .skills_container {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        box-sizing: border-box;

    }


    .skills_container p {

        box-sizing: border-box;
        border: 1px dashed var(--f2color);
        border-radius: 1px;
        padding: 3px 10px;
        margin: 5px 2px;
        transition: 1.2s;

    }

    .skills_container p:hover {
        background: rgb(160, 53, 74);
        transition: 1.2s;

    }
</style>

{% endblock content %}