<style>
    .center {

        margin-left: auto;
        margin-right: auto;
    }

    table,
    th,
    td {

        border-collapse: collapse;
        border: 2px solid gray;
        color: blue;
    }

    th,
    td {

        padding: 10px 20px;
       

    }

    th {

        background-color: #FFB500;
        color: green;
        font-size: 20px;

    }
 

    colgroup {

        width: 250px;

    }
</style>

<h1>

    Title :{{title}}

</h1>

<h3>

    description :{{desc}}
</h3>


<table class="center">
    <colgroup>

        <col>

        <col>

        <col style="width: 320px;">

    </colgroup>

    <tr>
        {% for field in fieldname %}

        {% if field != "" %}
        <th>
            {{field}}
        </th>
        {% endif %}
        {% endfor %}
    </tr>
    <tr>

        <td>kajdgk</td>
        <td>kajdgk</td>
        <td>kajdgk</td>
    </tr>
    <tr>

        <td>kajdgk</td>
        <td>kajdgk</td>
        <td>kajdgk</td>
    </tr>
    <tr>

        <td>kajdgk</td>
        <td>kajdgk</td>
        <td>kajdgk</td>
    </tr>
    <tr>

        <td>kajdgk</td>
        <td>kajdgk</td>
        <td>kajdgk</td>
    </tr>
    <tr>

        <td>kajdgk</td>
        <td>kajdgk</td>
        <td>kajdgk</td>
    </tr>

</table>


<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script>

 




</script>


    <!-- <div class="dev_skills">
        <h6 style="text-indent: 10px;">Skills</h6>
        {% with i.skills|split:"," as skills %}
        <div class="skills_container">
            {% for j in skills %}
                <p>j</p>
         

                {% endfor %}
        </div>

        <VirtualHost *:80>
    ServerName www.kashtfree.in
    ServerAdmin www.abhaysingh722@gmail.com
    #Document Root is not required
    #DocumentRoot /var/www/kashtfree
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
    
    Alias /static /var/www/kashtfree/static
    <Directory /var/www/kashtfree/static>
        Require all granted
    </Directory>
    
    Alias /media /var/www/kashtfree/media
    <Directory /var/www/kashtfree/media>
        Require all granted
    </Directory>
    
    <Directory /var/www/kashtfree/kashtfree>
        <Files wsgi.py>
            Require all granted
        </Files>
    </Directory>
    
    WSGIDaemonProcess kashtfree python-home=/var/www/kashtfree/mb python-path=/var/www/kashtfree
    WSGIProcessGroup kashtfree
    WSGIScriptAlias /  /var/www/kashtfree/kashtfree/wsgi.py
</VirtualHost>