{% extends 'index.html' %}

{% block content %}
 


<form action="" method="post" class="w-500px">

    {% csrf_token %}

    <h3 class="heading">Contact us</h3>
    <div class="ip ">
        <label for="your_name" class="chh_label">Your Name*</label>
        <input type="text" class="chh_iptext" id="your_name" name="your_name" required>
    </div>
    <div class="ip ">
        <label for="your_email" class="chh_label">Email*</label>
        <input type="text" class="chh_iptext" id="your_email" name="your_email" required>
    </div>
  
    <div class="ip ">
        <label for="your_mob" class="chh_label">Phone Number*</label>
        <input type="text" class="chh_iptext" id="your_mob" name="your_mob" required>
    </div>
  
    <div class="ip ">
        <label for="your_msg" class="chh_label"> Message*</label>
        <textarea type="text" class="chh_iptext h-120px" id="your_msg" name="your_msg" placeholder=" write message for me ..."></textarea>
    </div>
 
 
 <style>


 </style>
 <div class="f-sch w-100%" style="margin:10px 0px;">

    <button type="submit" name="submit" class="btn-hrl c-var(--f2color)  form_btn" value="signup">Submit
        &#8594;</button>
    </div>

</form>


 


{% endblock content %}