<style>

:root{
    --bgcolor:rgb(46, 133, 220);
    --bodycolor:rgb(237, 237, 237);
    --f1color:black;
    --f2color:white;
    --boxshadow:1px 1px 4px gray;
    --insetboxshadow:inset 1px 1px 3px gray,1px 1px 4px gray;
    --bradius:8px;
}

body{

    background-color: var(--bodycolor);
}


a{

    color: blue;
    text-decoration: none;
}
a:hover{

    color: rgb(77, 77, 77);
    text-decoration: underline;
    cursor: pointer;
}

.chh_iptext{

    width: clamp(260px,90%,410px);
    padding: 6px;
    background: white;
    border-radius: var(--bradius);
    outline: none;
    box-shadow: var(--insetboxshadow);
    border: 2px solid var(--bgcolor);
    text-indent: 5px;
    margin: 2px;
}

.chh_label{

    margin: 2px;
}
 

</style>