
{% extends 'index.html' %}
{% load static %}

{% block content %}




<div class="f-ech w-80% usernameHome" style="margin: auto;">
    <h4>
    {% if request.user.is_authenticated  %}
    
        Hello! <span class="c-dodgerblue"> <i> {{request.user.first_name}} {{request.user.last_name}}</i>
    {% endif %}
    
    </span>Welcome to Kashftree</h4>
     
</div>

<section class="f-ach home_section ">

    <div class="leftHome w-50%">
        <h3 class="quotes">Revolutionary way of Data Entry...
            Visit , Generate and share link, that's it. Your data will be entered individually.
        </h3>
        <h6 class="subheading smfont">Generate all kind of form links in just one click.
        </h6>

        <p class="desc smfont">We are providing you the best platform to generate various kinds of form and You can also share the link of your form and even an download it.</p>
    <div  style="margin: 30px 0px ;" value="verify"><a href="/generateLink"  class="btn-hrs c-var(--f2color)  " style="background: var(--bgcolor);">Generate Link</a> </div>




    </div>
    <div class="rightHome w-clamp(200px,40%,500px)">

            <img src="{% static 'img/logo kfree.svg' %}" class="h-300px w-clamp(200px,100%,400px)" style="padding-left: 15px;" alt="">

    </div>



    <style>

        .rightHome{

            display: flex;
            align-items: center;
            flex-direction: column-reverse; 
        }
        .rightHome img{

         
            animation: imganimate 3s infinite alternate;
        }
        
        @keyframes imganimate {
            0%{
                    transform: translateY(-30px);
                }
                100%{
                    
                    transform: translateY(30px);
                }
            }
            @keyframes shadowanimate {
                0%{
                    filter: blur(40px);
    
                }
                100%{
                    filter: blur(15px);
    
                }
            }

            
        .rightHome::before  {
  
            content: "«";
    color: blue;
    position: relative;
    box-shadow: 15px 12px 43px black;
    left: -32px;
    width: 72px;
    height: 67px;
    background: rgb(60, 60, 60);
 
    animation: shadowanimate 3s infinite alternate;
    filter: blur(15px);
    
    
        }




    </style>

</section>



    


<div class="" style="width: 80%; margin: 90px auto 0px auto;">
    <h1>Your Links Url</h1>

    <div >
        {% for link in links %}
        <li style="list-style: disc;">   <a href="/form/{{link.linkName}}" target="_blank" style="text-decoration: underline; color: blue !important;">kashtfree.in/form/{{link.linkName}}</a> </li>
        {% endfor %}

    </div>

</div>



{% endblock content %}


     {% comment %} <a href="/login" class="btn-frs c-var(--f2color) bc-lightgreen " value="Log in">Login
        </a>
        </a> {% endcomment %} -->