<footer class="body_footer">
  
       
    
    
    <div class="topFooter">
        <div class="instagram">  <a href="https://www.instagram.com/kashtfree/"  target="_blank" > <i class="fa fa-instagram" ></i></a></div>
        <div class="github"> <a href="https://github.com/KashtFree"  title="prfile"   target="_blank" > <i class="fa fa-github" ></i></a></div>
        <div class="youtube"> <a  href="https://www.youtube.com/@brainpower1462"       target="_blank" > <i class="fa fa-youtube" ></i></a></div>
        <div class="google"><a  href=" https://www.google.com/"       target="_blank" > <i class="fa fa-google" ></i></a>  </div>
        <div class=" facebook"><a href="https://www.facebook.com/profile.php?id=100090137447477&mibextid=ZbWKwL"> <i class="fa fa-facebook" ></i></a></div>
        <div class="linkedin"> <i class="fa fa-linkedin" ></i></div>
    </div>
    <div class="BottomFooterContainer">
        <div class="BottomFooter">

            
            <div class="Home">  <a href="/">home</a> </div>
            <div class="feedback">  <a href="/feedback">feedback</a></div>
            <div class="aboutus"><a href="/aboutus">About us</a></div>
            
            <div class=""> <a href="/developer">developer</a>  </div>
            <div class="contactus"> <a href="/contactus"> Contact us</a></div>
            <div class=""> <a href="/signup/">signup</a></div>
            
            
            
            <div class="Login">  <a href="/login/">Login</a> </div>
            <div class="instagram"> <a href="/logout"  target="_blank" >logout</a> </div>
            <div class="dashboard"> <a href="/dashboard"    > dashboard</a></div>
            
        </div>
          
            <div class="generateLink btn-hrm"><a href="/generateLink/">GenerateLink</a>  </div>
          

    </div>
         
  
         

</footer> 


<style>




</style>